@import "../abstracts/";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--selection);
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}
body {
  background-color: $bg_color;
}
