@import "../abstracts/";

@font-face {
  font-family: "gallery_modernregular";
  src: url("../../fonts/gallerymodern-webfont.woff2") format("woff2"), url("../..//fonts/gallerymodern-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p,
p span,
button,
li,
td {
  font-family: sans-serif;
  color: $black;
  font-weight: 300;
}

th,
caption,
.caption,
h1,
h2,
h3,
h4,
summary {
  font-family: "gallery_modernregular", sans-serif;
  color: $black;
}

p {
  font-size: 1.5rem;
}
summary {
  font-size: 1.8rem;
}

legend {
  font-weight: 300;
  font-size: 1.8rem;
  color: $black;
  font-family: sans-serif;
}

label {
  font-size: 1.8rem;
  font-weight: 300;
  color: $black;
  font-family: sans-serif;
}

.radio_label {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: sans-serif;
}

::placeholder {
  opacity: 0.5;
  font-size: 1.2rem;
  font-weight: 300;
}

footer .footer_wrapper {
  & p {
    font-family: "gallery_modernregular", sans-serif;
    font-size: 2rem;
  }
  & li {
    font-size: 1.1rem;
  }
}
