@import "../abstracts/";

@font-face {
  font-family: "gallery_modernregular";
  src: url("../../fonts/gallerymodern-webfont.woff2") format("woff2"), url("../..//fonts/gallerymodern-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
