@import "../abstracts";

.frivillig_form {
  & .gitter_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    left: 0;
    width: 100%;
  }
}

.menu_list {
  display: flex;
  & .gitter_list li {
    width: 500px;
    position: absolute;
    top: 20%;
    left: 0%;
  }
}

.gitter_list li {
  position: relative;
}

.front_page .gitter:not(.footer_gitter .gitter) {
  position: absolute;
}

.gitter {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: -1;

  & .row {
    display: flex;
    height: 100%;
  }
  & span {
    width: 100%;
    height: 100%;
    border: 1px solid $purple;
  }
}

.skabere ul.gitter_list:not(.footer_gitter .gitter_list) {
  position: absolute;
  grid-template-columns: 1fr !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer_gitter {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
