@import "../abstracts";
footer {
  padding: 0 20px;
  margin-top: 100px;
  margin-bottom: 40px;
  & li:not(.gitter_list li) {
    margin-top: 10px;
  }
}

.footer_gitter {
  position: relative;
}

.footer_wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  background-color: $bg_color;
  border: 2px solid $purple;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  border-radius: 50px 0 50px 0;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1150px) {
  .footer_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  .footer_gitter {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & ul:nth-child(3) {
      display: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  .footer_wrapper {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .footer_gitter {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 475px) {
  .footer_wrapper {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .footer_gitter {
    display: grid;
    grid-template-columns: 1fr;

    & ul:nth-child(3) {
      display: block;
    }
  }
}
