@import "../abstracts";

#form_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 50vw;
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  padding: 20px;

  & .form_ctrl {
    display: grid;
  }

  & legend {
    margin-bottom: 20px;
    color: $black;
    font-family: Arial, Helvetica, sans-serif;
  }

  & label {
    color: $black;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  & input {
    padding: 5px;
    border: none;
    margin: 0px 20px 0px 20px;
  }

  & input[type="text"],
  input[type="email"] {
    background-color: transparent;
    border-bottom: solid $purple 1px;
  }

  & input[type="submit"] {
    background-color: $purple;
    color: $bg_color;
    margin-top: 20px;
    width: 150px;
    border-radius: 0px 20px 0px 20px;
    font-size: 2rem;
    cursor: pointer;
  }

  & fieldset {
    width: 50vw;
    border: none;
    margin-top: 20px;
    margin-top: 20px;
  }
}
