@import "../abstracts";
@import "../base";

footer {
  background-color: $bg_color;
  padding: 0 20px;
  margin: var(--main_margin);
  border: $purple $main_bdr;
  border-radius: var(--btn_radius_rev);

  & .footer_wrapper {
    padding: var(--main_margin);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}
