header {
  position: fixed;
  width: 100%;
  padding: 20px 20px 0px 20px;
  z-index: 10;

  & #logo {
    width: 70px;
    transform: rotate(-30deg);
  }

  & ul {
    display: flex;
    justify-content: space-between;
  }
  & li {
    font-size: 1.8rem;
    font-family: sans-serif;
    text-align: center;
    font-weight: 300;
    &.date {
      font-size: 1.36rem;
      transition: opacity 0.7s;
      transform: translateY(var(--y));
      &.disappear {
        opacity: 0;
      }
    }
    & span {
      display: block;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
}

.page section:nth-of-type(1),
.single section:nth-of-type(1) {
  padding-top: 100px;
}
