@import "../abstracts";

header {
  display: none;
}

@keyframes kf_stroke_top {
  0% {
    transform: translate(-50%, -8px);
    animation-iteration-count: cubic-bezier(0.77, -0.47, 0.24, 1.02);
  }
  50% {
    transform: translate(-50%, 0px);
    animation-timing-function: cubic-bezier(0.86, 0.02, 0.28, 1.34);
  }
  100% {
    transform: translate(-50%, 0px) rotate(45deg);
  }
}

@keyframes kf_sroke_center {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 0);
    animation-timing-function: cubic-bezier(0.86, 0.02, 0.28, 1.34);
  }
  100% {
    transform: translate(-50%, 0px) rotate(45deg);
  }
}

@keyframes kf_sroke_bottom {
  0% {
    transform: translate(-50%, 8px);
    animation-iteration-count: cubic-bezier(0.77, -0.47, 0.24, 1.02);
  }
  50% {
    transform: translate(-50%, 0);
    animation-timing-function: cubic-bezier(0.86, 0.02, 0.28, 1.34);
  }
  100% {
    transform: translate(-50%, 0px) rotate(-45deg);
  }
}
