.page,
.single {
  & section {
    padding: 0 20px;
    max-width: 1500px;
    margin: 0 auto;
  }

  & h1 {
    font-size: 4rem;
  }

  & p:not(.caption) {
    margin-top: 1rem;
    font-size: 1.5rem;
    max-width: 45ch;
    line-height: 1.2;
  }
}

.sngl_wrapper {
  & img {
    margin-top: 20px;
    max-width: 500px;
  }
}

@media only screen and (min-width: 900px) {
  .sngl_wrapper {
    display: flex;

    & img {
      margin-top: 0;
      margin-left: 20px;
    }

    & p {
      width: 45ch;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .program section {
    padding-left: 60px;
  }
}
