.page {
  & section {
    padding: 0 20px;
    max-width: 1500px;
    margin: 0 auto;
  }

  & h1 {
    font-size: 4rem;
  }

  & p:not(.caption) {
    margin-top: 1rem;
    font-size: 1.5rem;
    max-width: 45ch;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 1100px) {
  .program section {
    padding-left: 60px;
  }
}
