@import "../abstracts";
#splash {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  // Date
  & .date {
    pointer-events: none;
    margin-top: 20px;
    position: absolute;
    z-index: 100;
    width: 100%;
    font-size: 1.36rem;
    text-align: center;
    transition: opacity 0.7s;
    transform: translateY(var(--y));
    &.disappear {
      opacity: 0;
    }

    & span {
      display: block;
      font-size: 1.8rem;
    }
  }

  // Ticket Counter
  & #ticket_cont {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
  }

  & #ticket_cont button {
    align-self: flex-end;
    text-align: right;
    max-width: 7ch;
  }

  & #ticket_cont .circles {
    margin-left: 20px;
    position: relative;
    width: 75px;
    height: 75px;
  }

  & #ticket_cont span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    transform: rotateX(var(--x-value)) rotateY(var(--y-value));
    opacity: 0.5;
    border-radius: 100%;
    background-color: $orange;
  }
}

// Splash IMG / tekst
#splash_logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 40vw;
  }

  & h1 {
    font-size: 45vw;
    line-height: 30vw;
    position: relative;
    color: $black;
    pointer-events: none;
    font-weight: 300;
    &::after {
      content: "KURS";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $black;
    }
  }
  & span {
    font-size: 25vw;
    display: block;
    position: relative;

    &::after {
      content: "FESTIVAL";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $black;
    }
  }

  & img {
    position: absolute;
    z-index: 1;
    transform: translateY(var(--new-y)) translateX(var(--new-x));
    pointer-events: none;
    width: 90vw;
    max-width: 500px;
  }
}

// Word animation
#word_anim {
  position: absolute;
  bottom: 20px;
  left: 20px;

  & li {
    list-style: none;
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: 300;
    color: #252525;
    position: relative;
    height: 2ch;
  }
  & span {
    position: absolute;
    top: 0;
    left: 0;
  }
  & span:nth-child(1) {
    transform-origin: bottom center;
    animation-name: kf_txt_rot;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  & span:nth-child(2) {
    transform-origin: bottom center;
    animation-name: kf_txt_rot2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  & li:nth-child(2) span {
    animation-delay: 0.1s;
  }
  & li:nth-child(3) span {
    animation-delay: 0.2s;
  }
  & li:nth-child(4) span {
    animation-delay: 0.35s;
  }
}

@keyframes kf_txt_rot {
  0% {
    transform: rotateX(0);
    /* opacity: 1; */
  }
  40% {
    transform: rotateX(0);
    /* opacity: 1; */
  }

  50% {
    transform: rotateX(90deg);
    /* opacity: 0; */
  }
  90% {
    transform: rotateX(90deg);
    /* opacity: 0; */
  }
  100% {
    transform: rotateX(0);
    /* opacity: 1; */
  }
}

@keyframes kf_txt_rot2 {
  0% {
    transform: rotateX(90deg);
    /* opacity: 0; */
  }
  40% {
    transform: rotateX(90deg);
    /* opacity: 0; */
  }

  50% {
    transform: rotateX(0);
    /* opacity: 1; */
  }
  90% {
    transform: rotateX(0);
    /* opacity: 1; */
  }
  100% {
    transform: rotateX(90deg);
    /* opacity: 0; */
  }
}

@media only screen and (min-width: 615px) {
  #splash_logo {
    & h1 {
      font-size: 17rem;
      line-height: 10rem;

      & span {
        font-size: 9.5rem;
      }
    }
  }
}
